/* Variabler vi kan kalde på, i scss'en */
$primary-color: #D1931C;
$secondary-color: #041E42;
$bg-color: #F5F2EF;
$text-color: #000000;
$border-radius: 1.5rem;
$header-height: 140px;
$transition-duration: 0.2s;
$section-width: 85vw;

/* mixin til gentagene stykker styling */
@mixin a-styling{ /* Styling til alle anchors på siderne */
    height: fit-content;
    width: fit-content;
    background-color: $primary-color;
    text-decoration: none;
    color: $bg-color;
    border-radius: $border-radius;
    font-weight: 600;
    transition: 0.5s;
}